body {
  font-family: helvetica;
}
code {
  background-color: #111;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 5px 10px;
  display: inline-block;
}
article {
  padding: 10px;
  //box-shadow: 0px 3px 3px #888888;
  margin-top: 5px;
}
article:nth-child(even) {
  background-color: #FCEBBD;
  background-color: #D6E8FA;
  background-color: #FCF59E;
  z-index: 99;
}
article:nth-child(odd) {
  background-color: #F8E3A5;
  background-color: #F3BE9B;
  background-color: #FFE9AA;
}
a {
	text-decoration: none;
	color: #000fff;
	border-bottom: 3px solid #000fff;
}
a:visited {
	color: #000fff;
}
