body {
  font-family: helvetica, courier;
  /*font-family: courier;*/
}
code {
  background-color: yellow;
  /*font-weight: bold;*/
  color: white;
  color: black;
  padding: 10px;
  margin: 5px 10px;
  display: inline-block;
}
article {
  padding: 10px;
  border-top: 3px solid black;
  margin-top: 5px;
}
h3 {
  font-size: 25px;
  border-bottom: 1px solid black;
  /*display: inline-block;*/

  /*padding: 10px 0;*/
  margin-bottom: 20px;
}
/*article:nth-child(even) {
  background-color: #FCEBBD;
  background-color: #D6E8FA;
  background-color: #FCF59E;
  z-index: 99;
}
article:nth-child(odd) {
  background-color: #F8E3A5;
  background-color: #F3BE9B;
  background-color: #FFE9AA;
}*/
a {
	text-decoration: none;
	color: #000fff;
	border-bottom: 3px solid #000fff;
}
a:visited {
	color: #000fff;
}
